/*================================
=            WRAPPERS            =
================================*/

.o-site-container {
  // Sticky Footer
  // display: flex;
  // flex-direction: column;
  min-height: 100%;
  padding-top: $base-spacing-unit * 4; 
}

.o-site-content {
  // flex: 1 0 auto;
  width: 100%;
}

// Susy grid container
.o-layout-container {
  padding: 0 $base-spacing-unit;
  max-width: 1000px;
  margin: 0 auto;
}
.o-layout-container--slim {
  padding: 0 $base-spacing-unit;
  max-width: 36em;
  margin: 0 auto;
}
