.c-content {
    max-width: 36em;
    margin-bottom: $base-spacing-unit * 3;
}

.c-content--background {
  position: relative;
  padding: $base-spacing-unit * 2 0;
  
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100% ;
    background-color: rgba(0, 0, 0, .4);
  }
}

.c-content--two-col {
  @include breakpoint($break-tablet) {
    display: flex;

    .c-content__column {
      width: span(6 of 12);

      &:last-of-type {
        margin-left: gutter() * 4;
      }
    }
  }
}